
.heading{
    text-align: center; 
    font-size: 3.2em;
    font-weight: 500;
    color: blueviolet;
    /*pixel font*/
    font-family: 'Press Start 2P', cursive;
}

body{
    /*pixel font*/
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: blueviolet;
    background-color: #000000;
}

#canvasContainer{
    border: 1px solid blueviolet;
    width: 500px;
    height: 600px;
    margin: auto;
    position: relative;
    text-align: left
}

canvas {
    border: 1px solid blueviolet;
    background-color: #000000;
}
.button {
  background-color: blueviolet;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: purple;
}
  
canvas {
	border: 1px solid #000000;
	background-color: #000000;
	
}

#buttonContainer{
    border: 1px solid blueviolet;
    width: 200px;
    height: 100px;
    margin: 300px auto;
    position: relative;
    text-align: center
}

.button {
    background-color: black;
    /* border: solid 1px blueviolet; */
    color: blueviolet;
    padding: 15px 25px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    cursor: pointer;
    
  }
  
  .button:hover {
    background-color: rgba(137, 43, 226, 0.52);
    
  }

