
.heading{
    text-align: center; 
    font-size: 3.2em;
    font-weight: 500;
    color: blueviolet;
    /*pixel font*/
    font-family: 'Press Start 2P', cursive;
}

body{
    /*pixel font*/
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: blueviolet;
    background-color: #000000;
}

#canvasContainer{
    border: 1px solid blueviolet;
    width: 500px;
    height: 600px;
    margin: 1% auto;
    position: relative;
    text-align: left
}

#buttonContainer{
    border: 1px solid blueviolet;
    width: 200px;
    height: 100px;
    margin: 20% auto;
    position: relative;
    text-align: center
}

.button {
  margin-top: 5px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: blueviolet;
  padding: 15px 25px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

  
  .button:hover {
    background-color: rgba(137, 43, 226, 0.52);
    
  }

